html {
  font-size: 16px;
  background-image: url("../images/ToyStory-wallpaper.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: "Stylish", sans-serif; */
  color: 3d405b;
}
.testBox {
  /* will use this class to test */
  border: 2px solid red;
}
.container {
  /* layout stuff */
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.8em;
}
.fnStart {
  /* color: #e07a5f; */
  font-size: 1.5em;
}
.topBox {
  padding: 1.5em;
  background-color: #54a4cb;
  text-align: center;
}
