body {
  font-size: 16px;

  background-image: url("../images/ToyStory-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100vw; */
  /* height: 100%; */
}
.testBox {
  /* will use this class to test */
  border: 5px soild red;
}
