html {
  font-size: 18px;
  background-image: url("../images/ToyStory-wallpaper.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: "Stylish", sans-serif; */
  color: 3d405b;
}
.testBox {
  /* will use this class to test */
  /* border: 2px solid red; */
}
.container {
  /* layout stuff */
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.8em;
}
.fnStart {
  /* color: #e07a5f; */
  font-size: 1.5em;
}
.boxSet {
  padding: 1.5em;
  /* background-color: rgba(84, 164, 203, 80%); */
  text-align: center;
  margin: auto;
}
.midBox {
  /* using some more flexbox here */
  display: flex;
  flex-direction: column;
}
.guessBox {
  /* width: 100%; */
  padding: 20px;
}
.Go {
  padding: 10px;
}
p {
  font-weight: 600;
  /* line-height: 20px; */
}
